.header.content-download-thank-you {
  background-color: #00216E;
}

.header.content-download-thank-you .text-right th {
  text-align: right;
}

.header.content-download-thank-you .text-right span,
.header.content-download-thank-you .text-right a {
  font-size: 11px !important;
  line-height: 15px !important;
  font-weight: normal;
  color: #FFFFFF;
  text-transform: uppercase;
}

.header .content-download-thank-you-padding-left {
  padding-left: 40px !important;
}

.header .content-download-thank-you-padding-right {
  padding-right: 40px !important;
}
