.hero-content-download-v1 {
  height: 384px;
  background-image: url('http://localhost:3000/assets/img/content-download-1.jpg');
  background-repeat: no-repeat;
  background-color: #8CC0FF;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #00216E;
}

.hero-content-download-v1 h1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  color: #00216E;
}

.hero-content-download-v1-padding {
  padding: 40px 40px 40px 40px !important;
}

.content-download-copy-block {
  padding-right: 88px !important;
  padding-left: 88px !important;
}

.content-download-quote-block p {
  font-size: 19px !important;
  line-height: 31px !important;
}

.content-download-quote-block span {
  font-size: 11px !important;
  line-height: 15px !important;
  color: #9DD1FF;
  text-transform: uppercase;
}

.content-download-quote-block-column-1 img {
  width: 146px !important;
  height: 146px !important;
}

.content-download-data-block {
  height: 274px;
  background-image: url('http://localhost:3000/assets/img/bg-dot_grid-light_blue.jpg');
  background-repeat: no-repeat;
  background-color: #8CC0FF;
}
