.header.content-download-thank-you,
.content-download-thank-you {
  background-color: #00216E !important;
}

.header.content-download-thank-you .text-right th {
  text-align: right;
}

.header.content-download-thank-you .text-right span,
.header.content-download-thank-you .text-right a {
  font-size: 11px !important;
  line-height: 15px !important;
  font-weight: normal;
  color: #FFFFFF;
  text-transform: uppercase;
}

.content-download-thank-you-padding-left {
  padding-left: 40px !important;
}

.content-download-thank-you-padding-right {
  padding-right: 40px !important;
}

.content-download-thank-you h1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  color: #FFFFFF;
}

.content-download-thank-you-callout {
  background-color: #ffffff;
  text-align: center;
}

.content-download-thank-you-callout h2 {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.content-download-thank-you-callout p {
  margin-bottom: 50px;
}

.content-download-thank-you-callout h1,
.content-download-thank-you-callout h2,
.content-download-thank-you-callout p,
.content-download-thank-you-callout span {
  text-align: center;
}

.content-download-thank-you-callout center {
  min-width: 0 !important;
}

.content-download-thank-you.content-download-footer span,
.content-download-thank-you.content-download-footer .menu-item,
.content-download-thank-you.content-download-footer a {
  color: #FFFFFF;
}
