// Content Download V1 Template Styles

.hero-content-download-v1 {
  height: 406px;
  background-image: url('http://localhost:3000/assets/img/content-download-1.jpg');
  background-repeat: no-repeat;
  background-color: #8CC0FF;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #00216E;
}

.hero-content-download-v1 h1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  color: #00216E;
}

.hero-content-download-v1-padding {
  padding: 40px 40px 40px 40px !important;
}

// Content Download Shared Template Styles

.content-download-copy-block {
  padding-right: 88px !important;
  padding-left: 88px !important;
}

.content-download-quote-block p {
  font-size: 19px !important;
  line-height: 31px !important;
}

.content-download-quote-block span {
  font-size: 11px !important;
  line-height: 15px !important;
  color: #9DD1FF;
  text-transform: uppercase;
}

.content-download-quote-block-column-1 img {
  width: 146px !important;
  height: 146px !important;
}

.content-download-data-block {
  height: 274px;
  background-image: url('http://localhost:3000/assets/img/bg-dot_grid-light_blue.jpg');
  background-color: #8CC0FF;
}

.content-download-data-block-padding {
  padding-top: 34px !important;
  padding-right: 40px !important;
  padding-bottom: 34px !important;
  padding-left: 40px !important;
  width: 519px;
}

.content-download-data-block-content {
  height: 205px;
  background-color: #ffffff;
}

.content-download-data-block-content span {
  font-size: 65px;
  line-height: 78px;
  font-weight: bold;
}

.content-download-data-block-content p {
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.content-download-cover-block h2 {
  font-style: 35px;
  line-height: 43px;
  font-weight: bold;
}

.content-download-footer span,
.content-download-footer .menu-item,
.content-download-footer a {
  font-size: 11px !important;
  line-height: 15px !important;
  color: #8E8E96;
}

.content-download-footer a {
  text-decoration: underline;
}

// Content Download V2 Template Styles

.hero-content-download-v2 {
  height: 406px;
  background-image: url('http://localhost:3000/assets/img/content-download-2.jpg');
  background-repeat: no-repeat;
  background-color: #ECD616;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #00216E;
}

.hero-content-download-v2 h1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  color: #00216E;
}

.hero-content-download-v2-padding {
  padding: 65px 40px 40px 40px !important;
}

.content-download-quote-block.yellow span {;
  color: #ECD616;
}

.content-download-data-block.yellow {
  background-image: url('http://localhost:3000/assets/img/bg-dot_grid-dark_blue.jpg');
  background-color: #00216E;
}

