.hero-content-download-v1 {
  height: 384px;
  background-image: url('http://localhost:3000/assets/img/content-download-1.png');
  background-repeat: no-repeat;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #00216E;
}

.hero-content-download-v1 h1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  color: #00216E;
}

.hero-content-download-v1-padding {
  padding: 40px 40px 40px 40px !important;
}

.content-download-copy-block {
  padding-right: 88px !important;
  padding-left: 88px !important;
}
