---
subject: Content Download V1
---

<container>

  <row class="hero-content-download-v1">
    <columns small="12" class="hero-content-download-v1-padding">
      <a href="https://mavenlink.com">
        <img src="http://localhost:3000/assets/img/logo-white.png" alt="Mavenlink">
      </a>

      <spacer size="50"></spacer>
      
      <h1>The White-Collar<br>Gig Economy</h1>
    </columns>
  </row>

  <row>
    <columns small="12">
      <center>
        <button class="large secondary" href="#">Click Me!</button>
      </center>
    </columns>
  </row>
  
  <wrapper class="secondary">

    <spacer size="16"></spacer>

    <row>
      <columns large="6">
        <h5>Connect With Us:</h5>
        <button class="facebook expand" href="#">Facebook</button>
        <button class="twitter expand" href="#">Twitter</button>
        <button class="google expand" href="#">Google+</button>
      </columns>
      <columns large="6">
        <h5>Contact Info:</h5>
        <p>Phone: 408-341-0600</p>
        <p>Email: <a href="mailto:foundation@zurb.com">foundation@zurb.com</a></p>
      </columns>
    </row>
  </wrapper>
      
  <center>
    <menu>
      <item href="#">Terms</item>
      <item href="#">Privacy</item>
      <item href="#">Unsubscribe</item>
    </menu>
  </center>

</container>
