---
subject: Content Download Thank You
---

<container class="header content-download-thank-you">

  <spacer size="35"></spacer>

  <row class="collapse">
    <columns small="12" large="6" class="content-download-thank-you-padding-left">
      <a href="https://mavenlink.com">
        <img src="http://localhost:3000/assets/img/logo-white.png" alt="Mavenlink" width="128" height="25">
      </a>
    </columns>
    <columns small="12" large="6" class="text-right content-download-thank-you-padding-right">
      <a href="#" target="_blank">Download your Asset</a>
    </columns>
  </row>

  <spacer size="63"></spacer>

</container>

<container class="content-download-thank-you" style="padding: 40px 0">

  <row>
    <columns small="12" large="8" valign="middle" class="content-download-thank-you-padding-left">
      <h1>Thank you for<br>downloading!</h1>
      <button class="large dark-blue rounded" href="#">ACCESS YOUR REPORT</button>
    </columns>
    <columns small="12" large="6" class="content-download-thank-you-padding-right">
      <img src="http://placehold.it/198x256/FFFFFF" alt="Report Cover">
    </columns>
  </row>

  <spacer size="58"></spacer>

  <row class="collapse">
    <columns small="12" large="10" class="content-download-thank-you-padding-left content-download-thank-you-padding-right">
      <row>
        <columns class="content-download-thank-you-callout">

          <spacer size="58"></spacer>

          <h2>Start your Mavenlink free trial!</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,<br>sed diam nonummy nibh euismod tincidunt ut.</p>
          <center>
            <button class="large blue rounded" href="#">REQUEST ACCESS</button>
          </center>

          <spacer size="42"></spacer>

        </columns>
      </row>
    </columns>
  </row>

  <wrapper class="secondary content-download-thank-you content-download-footer">

    <spacer size="48"></spacer>

    <row>
      <columns small="12">
        <center>
          <a href="https://mavenlink.com" target="_blank">
            <center>
              <img src="http://localhost:3000/assets/img/logo-white.png" alt="Mavenlink">
            </center>
          </a>

          <spacer size="26"></spacer>

          <menu>
            <item href="#" target="_blank">Facebook</item>
            <item href="#" target="_blank">Twitter</item>
            <item href="#" target="_blank">LinkedIn</item>
            <item href="#" target="_blank">Google Plus</item>
          </menu>
          <span>You received this email because you are subscribed to Special Promotions for Mavenlink.</span>
          <br>
          <span><a href="#" target="_blank">Manage the emails you get from us</a> or <a href="#" target="_blank">unsubscribe</a></span>

          <spacer size="26"></spacer>

          <span><a href="https://mavenlink.com" target="_blank">Mavenlink</a>. 6501 Irvine Center Drive, Irvine, CA 92618 United States</span>
        </center>
      </columns>
    </row>

    <spacer size="48"></spacer>

  </wrapper>

</container>
