---
subject: Content Download V1
---

<container>

  <row class="hero-content-download-v1">
    <columns small="12" class="hero-content-download-v1-padding">
      <a href="https://mavenlink.com">
        <img src="http://localhost:3000/assets/img/logo-white.png" alt="Mavenlink">
      </a>

      <spacer size="50"></spacer>

      <h1>The White-Collar<br>Gig Economy</h1>
    </columns>
  </row>

  <spacer size="85"></spacer>

  <row>
    <columns small="12">
      <center>
        <button class="large green rounded" href="#">DOWNLOAD THE REPORT</button>
      </center>
    </columns>
  </row>

  <spacer size="66"></spacer>

  <row>
    <columns small="12" class="content-download-copy-block">
      <ul>
        <li>
          This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go.
        </li>
        <li>
          This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go.
        </li>
        <li>
          This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go.
        </li>
      </ul>
    </columns>
  </row>

  <spacer size="86"></spacer>

  <row class="content-download-quote-block blue">
    <columns large="4" class="content-download-quote-block-column-1">
      <center>
        <img src="http://localhost:3000/assets/img/quote-person.jpg" alt="Headshot">
      </center>
    </columns>
    <columns large="8">
      <img src="http://localhost:3000/assets/img/quotation_mark-light_blue.png" alt="Quote">
      <spacer size="30"></spacer>
      <p>They understand the unique opportunities and challenges growth creates when delivering services, and provide the expertise and guidance needed to optimize our business.</p>
      <span>NAME OF PERSON | TITLE</span>
    </columns>
  </row>

  <spacer size="66"></spacer>

  <row class="content-download-data-block blue">
    <columns small="12">

    </columns>
  </row>

  <wrapper class="secondary">

    <spacer size="16"></spacer>

    <row>
      <columns small="12">
        <center>
          <img>
          <menu>
            <item href="#">Facebook</item>
            <item href="#">Twitter</item>
            <item href="#">LinkedIn</item>
            <item href="#">Google Plus</item>
          </menu>
        </center>
      </columns>
    </row>
  </wrapper>

</container>
