---
subject: Content Download V2
---

<container>

  <row class="hero-content-download-v2">
    <columns small="12" class="hero-content-download-v2-padding">
      <a href="https://mavenlink.com" target="_blank">
        <img src="http://localhost:3000/assets/img/logo-dark-blue.png" alt="Mavenlink">
      </a>

      <spacer size="60"></spacer>

      <h1>The Five<br>Most Critical<br>Project Metrics</h1>
    </columns>
  </row>

  <spacer size="63"></spacer>

  <row>
    <columns small="12">
      <center>
        <button class="large blue rounded" href="#">DOWNLOAD THE REPORT</button>
      </center>
    </columns>
  </row>

  <spacer size="66"></spacer>

  <row>
    <columns small="12" class="content-download-copy-block">
      <ul>
        <li>
          This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go.
        </li>
        <li>
          This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go.
        </li>
        <li>
          This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go.
        </li>
      </ul>
    </columns>
  </row>

  <spacer size="86"></spacer>
  
  <wrapper class="secondary">

    <spacer size="16"></spacer>

    <row>
      <columns large="6">
        <h5>Connect With Us:</h5>
        <button class="facebook expand" href="#">Facebook</button>
        <button class="twitter expand" href="#">Twitter</button>
        <button class="google expand" href="#">Google+</button>
      </columns>
      <columns large="6">
        <h5>Contact Info:</h5>
        <p>Phone: 408-341-0600</p>
        <p>Email: <a href="mailto:foundation@zurb.com">foundation@zurb.com</a></p>
      </columns>
    </row>
  </wrapper>
      
  <center>
    <menu>
      <item href="#">Terms</item>
      <item href="#">Privacy</item>
      <item href="#">Unsubscribe</item>
    </menu>
  </center>

</container>
