---
subject: Content Download
---

<container>

  <row class="hero-content-download-v2">
    <columns small="12" class="hero-content-download-v2-padding">
      <a href="https://mavenlink.com" target="_blank">
        <img src="https://justwhat.net/emails/Mavenlink/assets/img/logo-dark-blue.png" alt="Mavenlink">
      </a>

      <spacer size="60"></spacer>

      <h1>The Five<br>Most Critical<br>Project Metrics</h1>
    </columns>
  </row>

  <spacer size="63"></spacer>

  <row>
    <columns small="12">
      <center>
        <button class="large blue rounded" href="#">DOWNLOAD THE REPORT</button>
      </center>
    </columns>
  </row>

  <spacer size="66"></spacer>

  <row>
    <columns small="12" class="content-download-copy-block">
      <ul>
        <li>
          This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go.
        </li>
        <li>
          This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go.
        </li>
        <li>
          This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go. This is where information about the ebook can go.
        </li>
      </ul>
    </columns>
  </row>

  <spacer size="86"></spacer>

  <row class="content-download-quote-block yellow">
    <columns large="4" class="content-download-quote-block-column-1">
      <center>
        <img src="https://justwhat.net/emails/Mavenlink/assets/img/quote-person.jpg" alt="Headshot">
      </center>
    </columns>
    <columns large="8">
      <img src="https://justwhat.net/emails/Mavenlink/assets/img/quotation_mark-yellow.png" alt="Quote">
      <spacer size="30"></spacer>
      <p>They understand the unique opportunities and challenges growth creates when delivering services, and provide the expertise and guidance needed to optimize our business.</p>
      <span>NAME OF PERSON | TITLE</span>
    </columns>
  </row>

  <spacer size="66"></spacer>

  <row class="content-download-data-block yellow">
    <columns small="12" large="6" class="content-download-data-block-padding">
      <row>
        <columns small="12" large="1" class="content-download-data-block-content">
          <spacer size="40"></spacer>
          <center>
            <span>55%</span>
          </center>
          <center>
            <p>Extra texts can<br>go down here</p>
          </center>
        </columns>
        <columns small="12" large="1" class="content-download-data-block-content">
          <spacer size="40"></spacer>
          <center>
            <span>55%</span>
          </center>
          <center>
            <p>Extra texts can<br>go down here</p>
          </center>
        </columns>
      </row>
    </columns>
  </row>

  <spacer size="64"></spacer>

  <row class="content-download-cover-block">
    <columns small="12" large="5" valign="middle" class="large-offset-1">
      <h2>Final CTA textcan go here</h2>
      <center>
        <button class="large blue rounded" href="#">DOWNLOAD THE REPORT</button>
      </center>
    </columns>
    <columns small="12" large="5" valign="middle">
      <center>
        <img src="http://placehold.it/198x256/ECD616" alt="Report Cover">
      </center>
    </columns>
  </row>

  <spacer size="54"></spacer>

  <wrapper class="secondary content-download-footer">

    <spacer size="48"></spacer>

    <row>
      <columns small="12">
        <center>
          <a href="https://mavenlink.com" target="_blank">
            <center>
              <img src="https://justwhat.net/emails/Mavenlink/assets/img/logo-white.png" alt="Mavenlink">
            </center>
          </a>

          <spacer size="26"></spacer>

          <menu>
            <item href="#" target="_blank">Facebook</item>
            <item href="#" target="_blank">Twitter</item>
            <item href="#" target="_blank">LinkedIn</item>
            <item href="#" target="_blank">Google Plus</item>
          </menu>
          <span>You received this email because you are subscribed to Special Promotions for Mavenlink.</span>
          <br>
          <span><a href="#" target="_blank">Manage the emails you get from us</a> or <a href="#" target="_blank">unsubscribe</a></span>

          <spacer size="26"></spacer>

          <span><a href="https://mavenlink.com" target="_blank">Mavenlink</a>. 6501 Irvine Center Drive, Irvine, CA 92618 United States</span>
        </center>
      </columns>
    </row>

    <spacer size="48"></spacer>

</container>
