---
layout: index-layout
subject: Mavenlink Email Templates
---

<spacer size="16"></spacer>

<container>

  <spacer size="24"></spacer>
  
  <row>
    <columns small="12">

    <center>
      <strong>Mavenlink</strong>
    </center>

    <spacer size="16"></spacer>

    <center>
      <strong>Content Download Templates</strong>
    </center>
    <center>
      <menu class="vertical">
        <item href="{{root}}content-download-v1.html" target="_blank">Content Download V1</item>
        <item href="{{root}}content-download-v2.html" target="_blank">Content Download V2</item>
      </menu>
    </center>

    <center>
      <strong>Content Download Thank You Templates</strong>
    </center>
    <center>
      <menu class="vertical">
        <item href="{{root}}content-download-thank-you-v1.html" target="_blank">Content Download Thank You V1</item>
        <item href="{{root}}content-download-thank-you-v2.html" target="_blank">Content Download Thank You V2</item>
      </menu>
    </center>

    <spacer size="26"></spacer>

<!--    <center>-->
<!--      <strong>Samples</strong>-->
<!--      <menu class="vertical">-->
<!--        <item href="{{root}}basic.html" target="_blank">Basic Template</item>-->
<!--        <item href="{{root}}drip.html" target="_blank">Drip Template</item>-->
<!--        <item href="{{root}}hero.html" target="_blank">Hero Template</item>-->
<!--        <item href="{{root}}marketing.html" target="_blank">Marketing Template</item>-->
<!--        <item href="{{root}}newsletter.html" target="_blank">Newsletter Template</item>-->
<!--        <item href="{{root}}newsletter-2.html" target="_blank">Newsletter 2 Template</item>-->
<!--        <item href="{{root}}order.html" target="_blank">Order Template</item>-->
<!--        <item href="{{root}}password.html" target="_blank">Password Template</item>-->
<!--        <item href="{{root}}sidebar.html" target="_blank">Sidebar Template</item>-->
<!--        <item href="{{root}}sidebar-hero.html" target="_blank">Sidebar Hero Template</item>-->
<!--        <item href="{{root}}welcome.html" target="_blank">Welcome Template</item>-->
<!--      </menu>-->
<!--    </center>-->

<!--    <spacer size="16"></spacer>-->

<!--    <p>Happy Coding,</p>-->
<!--    <p>The Foundation Team</p>-->


    <spacer size="16"></spacer>

    </columns>
  </row>
</container>

<spacer size="16"></spacer>

